<html>
    <head>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <div class="head">
            <div class="head_text">
                <img src="../static/scr/boar.jpg" alt=""><img src="../static/scr/vsl.jpg" alt=""><img src="../static/scr/boar.jpg" alt=""><img src="../static/scr/vsl.jpg" alt=""><img src="../static/scr/boar.jpg" alt=""><img src="../static/scr/vsl.jpg" alt="">
            </div>
            <div class="head_text">
                🍏🍏🍏🍏🍏
            </div>
        </div>
        <div class="body_table">
            <div class="body_text" id="body_textl">
                <img src="../static/scr/applov.jpg" alt=""><img src="../static/scr/apple.jpg" alt=""><img src="../static/scr/apple.jpg" alt=""><img src="../static/scr/applov.jpg" alt=""><img src="../static/scr/applov.jpg" alt=""><img src="../static/scr/apple.jpg" alt=""><img src="../static/scr/apple.jpg" alt=""><img src="../static/scr/applov.jpg" alt="">
            </div>
            <div class="body_text" id="body_textr">
                <div class="text" id="pers_border">
                    <a id="pers_text" href="/personazhi">Персонажи:</a>
                </div>
                <div class="text" id="vsl_border">
                    <a id="vsl_text" href="/flour">Мука</a>
                </div>
                <div class="text" id="applov_border">
                    <a id="applov_text" href="/apple">Яблоков</a>
                </div>
            </div>
        </div>
    </body>
</html>