<html>
    <head>
        <style>nn
            h1{
                color:blue;
            }
            #evol{
                border: 5px solid rgb(225, 236, 28);
                width: 150px;
            }
            #pers{
                border: 10px solid blue;
                width: 250px;
            }
            #Yablockov{
                color:#16f805
            }
            #Vsl{
                color:#964b00
            }
        </style>
    </head>
    <body>
        <h1>Персонажи:</h1>
        <div id="pers"><h2 id="Yablockov">Yablockov🍏🍏🍏</h2><h2 id="Vsl">Vsl🐗🐗🐗</h2></div>
        <img src="../static/scr/boar.jpg" alt="">
        <img src="../static/scr/apple.jpg" alt="">
        <div id="evol">
            <a href="https://polit.ru/article/2019/06/01/ps_apple">Эволюция яблок</a>
            <a href="https://www.babai.ru/articles/evolyutsiya-sviney-teorii-i-interesnye-fakty.html">Эволюция кабанов</a>  
        </div>
    </body>
</html>